<div class="search">
  <form method="GET" action="/tracker">
      <div>From: 
        <input type="date" name="logStart" required pattern="\d{4}-\d{2}-\d{2}" title="yyyy-mm-dd">
        <span class="validity"></span>
      </div>
      <div>To: 
        <input type="date" name="logEnd" required pattern="\d{4}-\d{2}-\d{2}" title="yyyy-mm-dd">
        <span class="validity"></span>
      </div>
      <input type="submit" value="Find">  
  </form>
</div>

{{#each myExercises as |myExercise|}}
      <div>
        <span>{{format myExercise.date}}</span>
        <span>{{myExercise.name}}</span>
        <span>{{myExercise.weight}} lbs</span>
        <span>{{myExercise.sets}} sets</span>
        <span>{{myExercise.reps}} reps</span>
      </div>
{{/each}}